*{
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


h1,h2{
    background-color: #C4C4C4;
    color: #005677;
    text-align: center;
    font-size: 1.5em;
}
/* Estilos de Header */
header{
height: 200px;
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: end;
}

/* Estilos de Section */
.datosPersonales{
    margin-top: 100px;
}

.experienciaLaboral{
    margin-bottom: 100px;
}

section ul{
    margin: 20px 0;
}

section li{
    font-style: italic;
    line-height: 20px;
}

span{
    font-weight: bold;
}

.formacionAcademica li, .experienciaLaboral li{
    list-style: none;
}

/* Estilos de Footer */
footer{
    text-align: center;
    
}

footer p{
    font-size: 1.2em;
    font-weight: bold;
}
