.mi-elemento {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100%;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: achicando;
    animation-duration: 1000ms;
}
 

@keyframes achicando {
    0% {
        background-color: salmon;
    }
    
    100% {
        background-color: peachpuff;
        height: 100px;
        width: 100px;
        opacity: 0.5;
    }
}
