*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Roboto',sans-serif;
}
/* Header */
.heading{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading p{
    color: #F3F3F3;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    margin-left: 80px;
}

.heading ul{
    display: flex;
    column-gap: 10px;
    margin-right: 80px;
}

.heading li{
    color: #F3F3F3;

}

header li{
    list-style: none;
    font-style: normal;
    font-weight: 400;
}

header li a{
    text-decoration: none;
    color: #FFFFFF;
}

header .banner{
    background-color: #F0A83E;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .banner h1{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    margin-left: 60px;
}
header .banner span{
    color: #3C2313;
}

.banner ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    margin-right: 60px;
}

.banner i{
    font-size: 1rem;
    color: #000;
}
/* Section Hero */

#hero{ 
    height: 800px;
    background-image: url(/04-claseCSS/3-PetShop/images/bowl-and-pet-daities-on-green-background\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

#hero div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#hero h1,p{
    color: #3C2313;
}
#hero h1{
    background-color: #fff;
    height: 80px;
    min-width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-size: 3rem;
    font-weight: 500;
}
#hero p{
    margin: 20px 0;
    font-size: 1.3rem;
}
#hero button{
    height: 60px;
    width: 180px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #F0A83E;
    font-size: 1.1rem;
    text-transform: uppercase;
}

#hero button:hover{
    background-color: #ff9900;
    transition: all .5s;
}

/* Section Productos Destacados */

#productos-destacados{
    color: #3C2313;
}

#productos-destacados li{
    list-style: none;
}


/* Footer */

footer{
    background-color: #3C2313;
}

footer p{
    color: #FFFFFF;
}

footer div{
    background-color: #222222;
}

footer .parrafo-titulo{
    font-size: 2em;
}

